main{
    width: 80%;
    margin: 60px auto 0 auto;
}

#info_text{
    display: flex;
    width: 100%;
    margin: 0 auto 20px 0;
    align-items: center;
}

#info_text img{
    width: 80px;
    height: auto;
}

#info_text p{
    width: 100%;
    background-color: var(--light_blue);
    padding: 20px;
    margin: 20px 10% 0 15px;
    border-radius: 30px;
    font-weight: bold;
}

#diseases_list{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px 20px;
    margin: 0 auto 40px auto;
    justify-content: center;
}

#diseases_list p{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--blue);
    color: white;
    padding: 20% 0 20% 0;
    margin: 0 0 0 0;
    text-align: center;
    border-radius: 15px;
}