main{
    width: 80%;
    margin: 60px auto 0 auto;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    text-align: center;
}

#info_text{
    display: flex;
    width: 60%;
    margin: 0 auto 20px 0;
    align-items: center;
}

#info_text img{
    width: 25px;
    height: auto;
    margin-right: 5px;
}

#sections_container{
    display: grid;
    width: 75%;
    background-color: var(--light_blue);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px 20px;
    padding: 20px;
    margin: 0 auto 0 auto;
}

.item_container{
    border: 1px solid #999999;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 0px rgba(0, 56, 255, 0.5);
    width: 90%;
    margin: 10px auto 10px auto;
    height: 100%;
    background-color: white;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    cursor: pointer;
}

.item_container:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    box-shadow: inset 0px 8px 0px rgba(0, 56, 255, 0.5);
    
}

.item_container:hover img{
    transform: rotateZ(-5deg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.item_container img{
    width: 80px;
    height: auto;
    padding: 10px;
    
}

.item_container p{
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 150%;
    display: block;
    margin: auto;
    text-align: center;
}