body{
  position: relative;
  margin: 0vw auto;
  display: block;
}

main {
  display: block;
  width: 90%;
  margin: 0vw auto 0vw auto;
  padding: 20vw 0;
}

#info_text {
  display: block;
  width: 80%;
  margin: 0vw auto 10vw auto;
  align-items: center;
}

#info_text p {
  box-sizing: border-box;
  width: 100%;
  background-color: #e4e8fa;
  padding: 2vw;
  border-radius: 5vw;
}

.contenedor {
  display: block;
  margin: 5vw auto 5vw auto;
  width: 100%;
  font-size: 150%;
  text-align: center;
}

.edad {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: Quicksand;
  text-transform: uppercase;
  color: #000000;
}

#vacunaingreso {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Quicksand;
  text-transform: none;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #000000;
  background: rgba(65, 169, 174, 0.53);
  border-radius: 5vw;
  text-align: center;
}

#contenedorcompleto {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw 5vw;
  margin: 0 auto 10vw auto;
  justify-content: center;
}

#adolescentes {
  box-sizing: border-box;
}

#contenedorcompleto button {
  display: block;
  width: 100%;
  font-size: 80%;
  height: auto;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  background: #245a5e;
  box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
  border-radius: 3vw;
  color: white;
  padding: 20% 0 20% 0;
  margin: 0 auto 0 auto;
  text-align: center;
	border: 0;
	cursor: pointer;
}


#pop-up-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: black;
	opacity: 40%;
	display: none;
}

.pop-up {
	display: none;
  top: 20%;
  margin: auto;
  padding: 0;
	background-color: white;
	position: absolute;
  overflow-x: hidden;
}

.pop-up header {
	display: flex;
	color: white;
	text-align: center;
	position: relative;
	min-height: auto;
	height: auto;
	background: rgba(74, 162, 167, 0.74);
	justify-content: center;
  align-items: baseline;
}

.pop-up, .pop-up header {
  margin: 0;
  padding: 0;
	width: 100%;
  margin: auto;
  z-index: 0;
}

.pop-up header p{
  width: 60%;
  margin: 0;
}

.btn-cerrar-popup {
  display: block;
	padding: 0.2vw 3vw !important;
  width: auto !important;
}

#covid-19 button:not(.btn-cerrar-popup){
	color: black;
	background-color: white !important;
	width: 50vw !important;
	height: auto !important;
	min-height: auto !important;
	padding: 0 2vw 0 2vw !important;
	border: 0.2vw solid black;
	border-radius: 0;
	margin: 2vw;
}

#covid-19 div:not(#vacunas) {
	align-items: center;
	justify-content: space-around;
	display: flex;
}

#covid-19 div img {
	margin-right: 30px;
}
