main{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto 0 auto; 
    overflow-y: hidden;
}

#login_section{
    align-self: center;
}

#login_section h1{
    font-size: 120%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#form_container{
    position: relative;
    width: 80%;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--light_blue);
    margin: auto;
    padding: 0 0 5vw 0;
}

#login_form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 3vw 0 3vw;
}

.form_field_container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 5vw auto auto auto;
    width: 100%;
}

.form_field{
    display: block;
    height: 10vw;
    width: 100%;
    margin: 0;
    font-size: 100%;
    padding: 2.5vw 0 2.5vw 0;
    border: 0.1vw solid #AAAAAA;
    border-left: 0 solid #AAAAAA;
    border-radius: 0 5vw 5vw 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.form_field:focus{
    border-radius: 0px;
}

.form_field_icon{
    display: block;
    height: 10vw;
    width: 10vw;
    margin: 0;
    padding: 2.5vw 0 2.5vw 2.5vw;
    border: 0.1vw solid #AAAAAA;
    border-right: 0 solid #AAAAAA;
    border-radius: 5vw 0 0 5vw;
    box-sizing: border-box;
    background-color: white;
}

#login_btn{
    display: block;
    width: 70%;
    font-size: 100%;
    height: fit-content;
    color: #EEEEEE;
    background-color: var(--blue);
    border: 0px;
    margin: 5vw auto 0 auto;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 5vw;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

#login_btn:hover{
    background-color: var(--blue_hover);
    transition-duration: 0.2s
}

#register_btn{
    display: block;
    width: 60%;
    font-size: 100%;
    text-align: center;
    color: #EEEEEE;
    background-color: var(--cyan);
    margin: 0 auto 0 auto;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 5vw;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

#register_btn:hover{
    background-color: var(--cyan_hover);
    transition-duration: 0.2s
}

#top_decoration{
    position: absolute;
    top: -50px;
    right: 0;
}

#bottom_decoration{
    position: absolute;
    bottom: -20px;
    left: 0;
}